
.container{
    background-color: rgb(40, 178, 228);
    padding: 0 5px 0 5px;
}
.learn_more{
 display: flex;
 justify-content: center;
}
.info{
    margin: 10px 10px 10px 0;
    font-size: 20px;
    color: white;
}
.button{
    background-color: white;
    color: black;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
}
@media only screen and (max-width: 600px) {
    .info{
        font-size:14px;
        margin: 8px 5px 0 0;
    }
    .button{
        padding: 5px 4px 5px 4px;
        font-size: 5px;
    }
}