body{
    background-image: url('https://img.freepik.com/free-photo/low-angle-grayscale-shot-business-building_181624-19724.jpg?w=740&t=st=1677787027~exp=1677787627~hmac=76b71e0dc5cc85679157263341a90ea846b3dd44b9fcbfd7e05f610b0f107675');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
button{
    background-color: rgb(2, 2, 24);
    border: none;
    padding: 10px 15px 10px 15px;
    margin-top: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}
button:hover{
    opacity: 0.8;
}
.home_container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    margin: 85px auto 0;
    width: 100%;
    /* background-color: red; */
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
}
.row_1{
    /* background-color: gray; */
}
.row_1_text_2{
    margin-top: 8px;
}



/* row-1  ......................................*/
@media only screen and (max-width: 600px) {
    .home_container_1{
        /* background-color: rgb(10, 37, 37); */
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: auto;
        padding: 60px;
        color: white;
    }
    .row_1_text_1{
        font-size: 30px;
        /* background-color: red; */
        width: 50%;
        font-weight: bold;
    }
    .row_1_text_2{
        /* background-color: blue; */
        width: 100%;
        font-size: 14px;
    }
  }

  @media only screen and (min-width: 600px) {
    .home_container_1{
        /* background-color: rgb(10, 37, 37); */
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: auto;
        padding: 60px;
        color: white;
    }
    .row_1_text_1{
        font-size: 50px;
        /* background-color: red; */
        width: 45%;
        font-size: 40px;
        font-weight: bold;
    }
    .row_1_text_2{
        /* background-color: blue; */
        width: 100%;
        font-size: 20px;
    }
  }

  @media only screen and (min-width: 768px) {
    .home_container_1{
        /* background-color: rgb(10, 37, 37); */
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: auto;
        padding: 60px;
    }
    .row_1_text_1{
        font-size: 50px;
        /* background-color: red; */
        width: 38%;
        font-size: 40px;
    }
    .row_1_text_2{
        /* background-color: blue; */
        width: 100%;
        font-size: 20px;
    }
  }
  @media only screen and (min-width: 992px){
    .home_container_1{
        /* background-color: rgb(10, 37, 37); */
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: 300px;
        padding: 60px 60px 60px 118px;
    }
    .row_1_text_1{
        font-size: 50px;
        /* background-color: red; */
        width: 32%;
        font-size: 50px;
    }
    .row_1_text_2{
        /* background-color: blue; */
        width: 70%;
        font-size: 20px;
    }
  }
  @media only screen and (min-width: 1200px){
    .home_container_1{
        /* background-color: rgb(10, 37, 37); */
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: 300px;
        padding: 60px;
        width: 79%;
        margin: 10px auto 0;
    }
    .row_1_text_1{
        font-size: 50px;
        /* background-color: red; */
        width: 40%;
        font-size: 55px;
        color: white;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .row_1_text_2{
        /* background-color: blue; */
        width: 80%;
        font-size: 22px;
        margin-top: 8px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
  }











/* row-2 ............................................. */
.home_container_2{
   
    background-color: white;
    padding: 100px  0 100px 8px;
}
.dash_icon{
    width: 100%;
    margin: 18px auto 0;
}
  @media only screen and (max-width: 600px) {
    .home_container_2{
        background-color: white;  
        /* background-color: pink;   */
        display: grid;
        grid-template-columns: 100%;
        padding: 60px;
        
    }
    .container_2_row_1{
        /* background-color: blue; */
    }
    .container_2_row_2{
        /* background-color: rgb(76, 76, 145); */
        display: grid;
        grid-template-columns: 1fr;
    }
    .container_2_row_1_text_1{
        font-size: 25px;
        font-weight: bold;
    }
    .container_2_row_1_text_2{
        font-size: 14px;
    }
    .container_2_row_2_col{
        width: 100%;
        /* margin: 10px auto 0; */
        margin: 10px 0 14px 0;
    }
    .container_2_row_2_col_heading{
        font-size: 20px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .container_2_row_2_col_discription{
        font-size: 16px;
        margin-top: 2px;
        line-height: 1.8;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
    }
  }
  @media only screen and (min-width: 600px) {
    .home_container_2{
        /* background-color: pink; */
        background-color: white;
        display: grid;
        grid-template-columns: 100%;
        padding: 60px;
    }
    .container_2_row_1{
        /* background-color: blue; */
    }
    .container_2_row_2{
        display: grid;
        grid-template-columns: 1fr;
    }
    .container_2_row_1_text_1{
        font-size: 32px;
        font-weight: bold;
    }
    .container_2_row_1_text_2{
        font-size: 14px;
    }
    .container_2_row_2_col{
        width: 100%;
        margin: 10px 0 14px 0;
    }
    .container_2_row_2_col_heading{
        font-size: 20px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .container_2_row_2_col_discription{
        font-size: 16px;
        margin-top: 2px;
        line-height: 1.8;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
    }
  }
  @media only screen and (min-width: 768px) {
    .home_container_2{
        /* background-color: pink; */
        background-color: white;
        display: grid;
        grid-template-columns: 100%;
        padding: 60px;
    }
    .container_2_row_1{
        /* background-color: blue; */
    }
    .container_2_row_2{
        /* background-color: rgb(76, 76, 145); */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .container_2_row_1_text_1{
        font-size: 32px;
    }
    .container_2_row_1_text_2{
        font-size: 16px;
    }
    .container_2_row_2_col{
        width: 100%;
        margin: 10px auto 0;
    }
    .container_2_row_2_col_heading{
        font-size: 22px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .container_2_row_2_col_discription{
        font-size: 14px;
        margin-top: 10px;
        line-height: 1.8;
        font-family: Arial, Helvetica, sans-serif;
        width: 80%;
    }
  }
  @media only screen and (min-width: 992px) {
    .home_container_2{
        /* background-color: pink; */
        background-color: white;
        display: grid;
        grid-template-columns: 100%;
        padding: 100px  0 100px 8px;
    }
    .container_2_row_1{
        /* background-color: blue; */
        width: 80%;
        margin: 0 auto 0;
    }
    .container_2_row_2{
        /* background-color: rgb(76, 76, 145); */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .container_2_row_1_text_1{
        font-size: 36px;
    }
    .container_2_row_1_text_2{
        font-size: 18px;
    }
    .container_2_row_2_col{
        width: 50%;
        margin: 10px auto 0;
    }
    .dash_icon{
        /* background-color: red; */
        width: 80%;
        margin: 18px auto 0;
    }
    .container_2_row_2{
        /* background-color: rgb(76, 76, 145); */
        width: 86%;
        margin: 0 auto 0;
    }
    .container_2_row_2_col{
        width: 80%;
        /* background-color: green; */
    }
    .container_2_row_2_col_heading{
        font-size: 24px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    .container_2_row_2_col_discription{
        font-size: 16px;
        margin-top: 10px;
        line-height: 1.8;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
       
    }
  }
  @media only screen and (min-width: 1200px) {
    .home_container_2{
        /* background-color: pink; */
        display: grid;
        grid-template-columns: 100%;
        background-color: white;
        padding: 100px  0 100px 8px;
    }
    .container_2_row_1{
        /* background-color: blue; */
        width: 80%;
        margin: 10px auto 0;
    }
    .container_2_row_1_text_1{
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .container_2_row_1_text_2{
        font-family:'Times New Roman', Times, serif;
        margin-top: 6px;
    }
    .dash_icon{
        /* background-color: red; */
        width: 80%;
        margin: 18px auto 0;
    }
    .container_2_row_2{
        /* background-color: rgb(76, 76, 145); */
        margin: 0 auto 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .container_2_row_1_text_1{
        font-size: 38px;
    }
    .container_2_row_1_text_2{
        font-size: 25px;
    }
    .container_2_row_2_col{
        width: 80%;
        /* background-color: green; */
    }
    .container_2_row_2_col_heading{
        font-size: 28px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .container_2_row_2_col_discription{
        font-size: 22px;
        margin-top: 10px;
        line-height: 1.8;
        letter-spacing: 1px;
        font-family: Arial, Helvetica, sans-serif;
        /* background-color: red; */
    }
  }



  
  
/* brand_container....................................... */
.home_container_3{
    padding: 100px 0 100px 60px;
}
.brand_dash_container{
    margin: 15px 0 12px 0;
}
.brand_name_1{
    /* float: left; */
    margin-right: 5%;
    font-family:  Brush Script MT;
    font-style: italic;
}
.brand_name_2{
    float: left;
    margin-right: 5%;
}
.brand_name_3{
    float: left;
    margin-right: 5%;
    font-family:Bodoni MT;
}
.brand_name_4{
    float: left;
    margin-right: 5%;
    font-family: papyrus;
}
.brand_name_5{
    float: left;
    margin-right: 5%;
    font-family: Gill Sans;
}
.brand_name_6{
    float: left;
    margin-right: 5%;
    font-family: NSimSun;
}
@media only screen and (max-width: 600px) {
    .home_container_3{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        /* padding: 0 0 0 60px; */
        color: white;
    }
    .brand_heading_container{
        /* background-color: red; */
        width: 90%;
    }
    .brand_heading{
        font-size: 25px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .brand_sub_heading{
        font-size: 18px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    .brand_dash_container{
        color: white;
        margin: 15px 0 12px 0;
    }
    .brand_name_container{
        padding-left: 1px;
        width: 100%;
        /* background-color: red; */
    }
    .brand_name_1{
        float: left;
        margin-right: 2%;
    }
    .brand_name_2{
        float: left;
        margin-right: 2%;
    }
    .brand_name_3{
        float: left;
        margin-right: 2%;
    }
    .brand_name_4{
        float: left;
        margin-right: 2%;
    }
    .brand_name_5{
        float: left;
        margin-right: 2%;
    }
    .brand_name_6{
        float: left;
        margin-right: 2%;
    }
    
}
@media only screen and (min-width: 600px) {
    .home_container_3{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        color: white;
    }
    .brand_heading_container{
        /* background-color: red; */
        width: 90%;
    }
    .brand_heading{
        font-size: 25px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .brand_sub_heading{
        font-size: 18px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    .brand_dash_container{
        color: white;
    }
    .brand_name_container{
        padding-left: 1px;
        width: 100%;
        font-size: 20px;
        /* background-color: rgb(81, 47, 47); */
    }
    .brand_name_1{
        float: left;
        margin-right: 5%;
    }
    .brand_name_2{
        float: left;
        margin-right: 5%;
    }
    .brand_name_3{
        float: left;
        margin-right: 5%;
    }
    .brand_name_4{
        float: left;
        margin-right: 5%;
    }
    .brand_name_5{
        float: left;
        margin-right: 5%;
    }
    .brand_name_6{
        float: left;
        margin-right: 5%;
    }
    
}
@media only screen and (min-width: 992px) {
    .home_container_3{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        color: white;
    }
    .brand_heading_container{
        width: 89%;
        margin: 0 auto 0;
    }
    .brand_heading{
        font-size: 28px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .brand_sub_heading{
        font-size: 20px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    .brand_dash_container{
        width: 89%;
        margin: 15px auto 15px;
    }
    .brand_name_container{
        padding-left: 1px;
        width: 89%;
        margin: 0 auto 0;
        font-size: 22px;
        
    }
    .brand_name_1{
        float: left;
        margin-right: 3%;
    }
    .brand_name_2{
        float: left;
        margin-right: 3%;
        /* color: rgba(255, 255, 255, 0.5); */
    }
    .brand_name_3{
        float: left;
        margin-right: 3%;
    }
    .brand_name_4{
        float: left;
        margin-right: 3%;
        /* color: rgba(255, 255, 255, 0.5); */
    }
    .brand_name_5{
        float: left;
        margin-right: 3%;
    }
    .brand_name_6{
        float: left;
        margin-right: 3%;
    }
    
}
@media only screen and (min-width: 1200px) {
    .home_container_3{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 100px 0 100px 60px;
        color: white;
    }
    .brand_heading_container{
        /* background-color: red; */
        width: 87%;
        margin: 0 auto 0;
    }
    .brand_heading{
        font-size: 30px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .brand_sub_heading{
        font-size: 20px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    .brand_dash_container{
        width: 87%;
        margin: 15px auto 15px;
    }
    .brand_name_container{
        padding-left: 1px;
        width: 87%;
        margin: 0 auto 0;
        font-size: 26px;
    }
    .brand_name_1{
        float: left;
        margin-right: 3%;
    }
    .brand_name_2{
        float: left;
        margin-right: 3%;
    }
    .brand_name_3{
        float: left;
        margin-right: 3%;
    }
    .brand_name_4{
        float: left;
        margin-right: 3%;

    }
    .brand_name_5{
        float: left;
        margin-right: 3%;
    }
    .brand_name_6{
        float: left;
        margin-right: 0%;
    }
    
}







/* story container................... */
.home_container_4{
    background-color: white;
    grid-row-gap: 1%;
    padding: 100px 0 100px 60px;
}
.image_name{
    margin-top: 10px;
}
@media only screen and (max-width: 600px) {
    .home_container_4{
        /* background-color: lime; */
        display: grid;
        grid-template-columns: 1fr;
        padding: 50px 40px 50px 60px;
    }
    .image_heading_container{
        /* background-color: red; */
        width: 100%;
        margin: 0 auto 0;
    }
    .image_heading{
        font-size: 24px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .image_sub_heading{
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .image_dash{
        /* background-color: rgb(43, 17, 17); */
        width: 100%;
        margin: 0 auto 0;
    }
    .image_container{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        grid-column-gap: 10%;
        width: 100%;
        /* background-color: rgb(136, 76, 76); */
        margin: 0 auto 0 ;
    }
    .image{
        /* background-color: red; */
        display: grid;
        grid-template-rows: 250px;
        margin-top: 5%;
        font-family: Arial, Helvetica, sans-serif;
    }
    .fake_image{
        width: 100%;
        height: 100%
    }
    .image_name{
        font-size: 11px;
        font-weight: bold;
    }
    .image_time{
        font-size: 10px;
        color: rgb(89, 89, 89);
        margin: 5px 0 0 0;
    }
}
@media only screen and (min-width: 600px) {
    .home_container_4{
        /* background-color: lime; */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 20px auto;
    }
    .image_heading_container{
        /* background-color: red; */
        width:100%;
        margin: 0 auto 0;
    }
    .image_heading{
        font-size: 30px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .image_sub_heading{
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .image_dash{
        /* background-color: rgb(43, 17, 17); */
        width: 100%;
        margin: 0 auto 0;
    }
    .image_container{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-column-gap: 10%;
        width: 90%;
        /* background-color: rgb(136, 76, 76); */
    }
    .image{
        /* background-color: red; */
        display: grid;
        grid-template-rows: 250px;
        margin-top: 5%;
    }
    .fake_image{
        width: 100%;
        height: 100%;
    }
    .image_name{
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
    }
    .image_time{
        color: rgb(89, 89, 89);
        font-size: 10px;
        margin: 5px 0 0 0;
    }
}
@media only screen and (min-width: 768px) {
    .home_container_4{
        /* background-color: lime; */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 20px auto;
    }
    .image_heading_container{
        /* background-color: red; */
        width: 100%;
        margin: 0 auto 0;
    }
    .image_heading{
        font-size: 30px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .image_sub_heading{
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .image_dash{
        /* background-color: rgb(43, 17, 17); */
        width: 100%;
        margin: 0 auto 0;
    }
    .image_container{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        width: 90%;
        /* background-color: rgb(136, 76, 76); */
    }
    .image{
        /* background-color: red; */
        display: grid;
        grid-template-rows: 250px;
    }
    .fake_image{
        width: 100%;
        height: 100%;
    }
    .image_name{
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .image_time{
        /* color: rgb(89, 89, 89); */
    }
}

@media only screen and (min-width: 992px) {
    .home_container_4{
        /* background-color: lime; */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 20px auto;
    }
    .image_heading_container{
        /* background-color: red; */
        width: 89%;
        margin: 0 auto 0;
    }
    .image_heading{
        font-size: 30px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .image_sub_heading{
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .image_dash{
        /* background-color: rgb(43, 17, 17); */
        width: 89%;
        margin: 0 auto 0;
    }
    .image_container{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        width: 89%;
        /* background-color: rgb(136, 76, 76); */
        margin: 0 auto 0 ;
    }
    .image{
        /* background-color: red; */
        display: grid;
        grid-template-rows: 250px;
    }
    .fake_image{
        width: 100%;
        height: 100%;
    }
    .image_name{
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
    .image_time{
        color: rgb(89, 89, 89);
        font-size: 14px;
    }
}

@media only screen and (min-width: 1200px) {
    .home_container_4{
        /* background-color: lime; */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 20px auto;
        padding: 100px 0 100px 60px;
        
    }
    .image_heading_container{
        /* background-color: red; */
        width: 87%;
        margin: 0 auto 0;
    }
    .image_heading{
        font-size: 30px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .image_sub_heading{
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .image_dash{
        /* background-color: rgb(43, 17, 17); */
        width: 87%;
    }
    .image_container{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        width: 87%;
        /* background-color: rgb(136, 76, 76); */
        margin: 0 auto 0 ;
    }
    .image{
        /* background-color: red; */
        display: grid;
        grid-template-rows: 250px;
    }
    .fake_image{
        width: 100%;
        height: 100%;
    }
    .image_name{
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .image_time{
        /* color: rgb(89, 89, 89); */
        font-size: 18px;
    }
}
