.header_container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;  
}
.header{
    /* background-color: pink; */
    background-color: #FFFFFF;
    justify-content: space-between;
    padding: 10px 0 0 0;


}
.navbar_container_disable div:hover{
    cursor: pointer;
    opacity: 0.5;
}
.logo_container{
    margin: auto 0;
    padding: 0 25px 0 25px;

}
.navbar_button{
   
}
@media only screen and (max-width:600px){
    .logo_container{
        display: flex;
        justify-content: space-between;
        margin: auto 0;
        padding: 10px 25px 10px 25px;
    }
    .navbar_container{
        background-color:rgb(17, 17, 17, 0.9) ;  
        color: #818181;
        display: grid;
        grid-template-columns: 1fr;
        margin: 6px 0 0 0;
        padding:20px 0 20px 0;
        /* margin-top: -20px; */
        transition: 0.8s;
        z-index: -1;
        position: relative;
    }
    .navbar_container div:hover{
        color: white;
    }
   
    .sample{
        /* background-color: aqua; */
    }
    .feature{
        /* background-color: blue; */
    }
    .layout{
        /* background-color: cadetblue; */
    }
    .ourshop{

    }
    .buy_theme{

    }
    .search_container{
        grid-row: 1;
    }
    .navbar_container div{
        font-size: 20px;
        text-align: center;
        margin: 10px auto 0;
        float: right;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        
    }
    .navbar_container_disable{
        /* display: none; */
        visibility: hidden;
        margin-top: -20px;
        transition: 0.8s;

        background-color:rgb(17, 17, 17, 0.9) ;  
        color: #818181;
        display: grid;
        grid-template-columns: 1fr;
        margin: -400px 0 0 0;
        padding:20px 0 20px 0;
        z-index: -1;
        position: relative;
    }
    .navbar_container_disable div{
        font-size: 20px;
        text-align: center;
        margin: 10px auto 0;
        float: right;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    .search_container{
        
    }
}

@media only screen and (min-width: 600px) {
    .header{
        /* background: green; */
        display: flex;
        padding-right: 40px;
    }
    .logo_container{
        margin: 15px 0 0 0;
    }
    .navbar_button{
        /* display: none; */
        visibility: hidden;
    }
    .navbar_container_disable{
        display: flex;
        margin: auto 0;
        justify-content: space-evenly;
        font-size: 20px;
        /* background-color: red; */

    }
    .navbar_container_disable div{
        margin-left: 16px;
    }
    
  }

  @media only screen and (min-width: 768px){
    .navbar_container_disable{
        font-size: 25px;
    }
    .logo_container{
        margin: 15px 0 0 0;
    }
  }
 